<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.min.css">

    <title>Résumé of {{basics.name}}</title>
</head>

<body>
    <div class="container" style="max-width: 842px;">

        <header>
            <h1 class="display-5">Résumé of {{basics.name}} <small class="text-muted">{{basics.label}}</small></h1>

            <blockquote class="blockquote text-right">
                <p class="lead">
                    <small>
                        <address>
                            {% if basics.email %}
                            📧 <a href="mailto:{{basics.email}}">{{basics.email}}</a>
                            {% endif %}
                            {% if basics.phone %}
                            📱 {{basics.phone}}
                            {% endif %}
                            {% if basics.website %}
                            🌏 <a href="{{basics.website}}">{{basics.website}}</a>
                            {% endif %}
                        </address>
                    </small>
                </p>
            </blockquote>

        </header>

        <section id=experience>
            <h2 class="border-bottom border-dark">Experience</h2>

            {% for entry in work + volunteer %}
            <strong>{{entry.position}}</strong>
            {% if entry.website %}
            <a href="{{entry.website}}"><small class="text-danger">{{entry.company}}</small></a>
            {% else %}
            <small class="text-danger">{{entry.company}}{{entry.organization}}</small>
            {% endif %}
            <small class="text-muted">{{entry.startDate}} - {{entry.endDate}}</small>
            <br />
            {{entry.summary}}
            <ul>
                {% for highlight in entry.highlights %}
                <li>{{highlight}}</li>
                {% endfor %}
            </ul>

            {% if not loop.last %}
            <hr />
            {% endif %}
            {% endfor %}

        </section>

        <div style='page-break-after:always'></div>
        <section id=education>
            <h2 class="border-bottom border-dark">Education</h2>

            {% for entry in education %}

            <strong>{{entry.studyType}} {{entry.area}}</strong>
            <small class="text-danger">{{entry.institution}}</small>
            <small class="text-muted">{{entry.startDate}} - {{entry.endDate}}</small>
            <br />
            GPA {{entry.gpa}}<br />
            {% endfor %}

        </section>

        {% if publications %}
        <section id=publications>
            <h2 class="border-bottom border-dark">Publications</h2>
            <ul>
                {% for entry in publications %}
                <li>"{{entry.name}}", {{entry.releaseDate}} 
                    <br /><em><a href="{{entry.website}}">{{entry.publisher}}</a></em>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}


        {% if awards %}
        <section id=awards>
            <h2 class="border-bottom border-dark">Awards</h2>
            <ul>
                {% for entry in awards %}
                <li>"{{entry.title}}" <em>{{entry.awarder}}</em>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}


        {% if skills %}
        <section id=skills>
            <h2 class="border-bottom border-dark">Skills</h2>
            <ul>
                {% for entry in skills %}
                <p>
                <strong>{{entry.name}}</strong>
                {% if entry.keywords %}
                    {% for keyword in entry.keywords %}
                    {{keyword}}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
                {% endfor %}
            </ul>
        </section>
        {% endif %}


    </div><!-- /container -->
</body>

</html>