<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.min.css">

    <title>Résumé of {{basics.name}}</title>
</head>

<body>
    <div class="container" style="max-width: 842px;">

        <header>
            <h1 class="display-5">Résumé of {{basics.name}} <small class="text-muted">{{basics.label}}</small></h1>

            <blockquote class="blockquote text-right">
                <p class="lead">
                    <small>
                        <address>
                            {% if basics.email %}
                            📧 <a href="mailto:{{basics.email}}">{{basics.email}}</a>
                            {% endif %}
                            {% if basics.phone %}
                            📱 {{basics.phone}}
                            {% endif %}
                            {% if basics.website %}
                            🌏 <a href="{{basics.website}}">{{basics.website}}</a>
                            {% endif %}
                        </address>
                    </small>
                </p>
            </blockquote>

        </header>

        <section id=experience>
            <h2 class="border-bottom border-dark">Experience</h2>

            {% for entry in work + volunteer %}
            <strong>{{entry.position}}</strong>
            {% if entry.website %}
            <a href="{{entry.website}}"><small class="text-danger">{{entry.company}}</small></a>
            {% else %}
            <small class="text-danger">{{entry.company}}{{entry.organization}}</small>
            {% endif %}
            <small class="text-muted">{{entry.startDate|yearmonth}} -
                {% if entry.endDate %}{{entry.endDate|yearmonth}}{% else %}present{% endif %}</small>
            <br />
            {{entry.summary}}

            {% if  entry.highlights %}
            <ul>
                {% for highlight in entry.highlights %}
                <li>{{highlight}}</li>
                {% endfor %}
            </ul>
            {% endif %}


            {% if not loop.last %}
            <hr />
            {% endif %}
            {% endfor %}

        </section>


        <section id=education>
            <h2 class="border-bottom border-dark">Education</h2>

            {% for entry in education %}

            <p>
                <strong>{{entry.studyType}} {{entry.area}}</strong>
                <small class="text-danger">{{entry.institution}}</small>
                <small class="text-muted">{{entry.endDate|yearmonth}}</small>
                GPA {{entry.gpa}}
            </p>
            {% endfor %}

        </section>

        {% if publications %}
        <section id=publications>
            <h2 class="border-bottom border-dark">Publications</h2>
            <ul>
                {% for entry in publications %}
                <li>"{{entry.name}}"
                    <br /><em><a href="{{entry.website}}">{{entry.publisher}}</a></em>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        {% if projects %}
        <section id=projects>
            <h2 class="border-bottom border-dark">Noteworthy Projects</h2>
            <dl>
                {% for entry in projects %}
                <dt>{{entry.name}} <a href="{{entry.url}}"><small class="text-muted">{{entry.url}}</small></a></dt>
                <dd>{{entry.description}}</dd>
                {% endfor %}
            </dl>
        </section>
        {% endif %}

        {% if awards %}
        <section id=awards>
            <h2 class="border-bottom border-dark">Awards</h2>
            <ul>
                {% for entry in awards %}
                <li><em>{{entry.title}}</em> {{entry.awarder}}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}


        {% if skills %}
        <section id=skills>
            <h2 class="border-bottom border-dark">Skills</h2>
            <ul>
                {% for entry in skills %}
                <dt>{{entry.name}}</dt>
                <dd> {% if entry.keywords %}
                    {% for keyword in entry.keywords %}
                    {{keyword}}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    {% endif %}
                </dd>
                {% endfor %}
            </ul>
        </section>
        {% endif %}


    </div><!-- /container -->
</body>

</html>